*{
    margin: 30px;
}
    
body{
    background-color:grey;
}
    
header{
    margin: 6px auto;
    border: 1px solid white;
    height: 80px;
    width: 100%;
    text-align: center;
    line-height: 22px;
    color: white;
}



